* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: rgb(2,91,82);
    background: linear-gradient(180deg, rgba(2,91,82,1) 0%, rgba(10,171,155,0.8743697308024773) 20%, rgba(193,193,193,0.6754901789817489) 30%);
    font-family: 'Montserrat', sans-serif;
}

.container-app {
    width: 80vw;
    height: 90vh;
    background-color: white;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* HEADER */

header {
    background-color: #eaeaea;
    /* height: 60px; */
    width: 100%;
    display: flex;
    padding: 3px 0;
}

.header-left {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgrey;
    padding-left: 10px;
}

.header-menu-left i {
    padding-right: 12px;
}

.my-avatar,
.ultimo-accesso img {
    width: 65px;
}

i {
    color: #b1b1b1;
    font-size: 20px;
}

.header-right {
    width: calc(100% - 350px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.info-ultimo-accesso {
    width: 535px;
}

h2, p {
    font-size: 15px;
    font-weight: 500;
}

h3 {
    font-size: 13px;
    font-weight: 500;
    color: grey;
}

.header-menu-right {
    padding-right: 15px;
}

.header-menu-right i {
    padding-right: 12px;
}


/* ASIDE */

aside {
    height: calc(100% - 65px);
    width: 350px;
    background-color: lightgrey;
}

.bar-notifiche {
    height: 65px;
    background-color: #8edafc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 15px 15px;}

.bell {
    padding-right: 10px;
}

.circle{
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #f2fbff;
	vertical-align: middle;
	text-align: center;
	padding-top: 13px;
}

.search-bar {
    height: 40px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.search-bar i {
    font-size: 15px;
    padding-right: 30px;
}

.search-bar input {
    width: 345px;
    font-size: 12px;
    font-family: inherit;
    border: transparent;
	padding: 8px 0px 8px 3px;
}

.contatti {
    height: calc(100% - 100px);
    overflow-y: scroll;
    background-color: white;
}

/* MAIN */

main {
    width: calc(100% - 350px);
    height: calc(100% - 60px);
    background-image: url('https://i.pinimg.com/564x/b1/61/42/b161420b5d0aea422d41feba57fca52c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.chat {
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.messaggio {
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}

.messaggio input {
    width: 620px;
    background-color: white;
    border-radius: 2px;
    padding: 12px;
    text-decoration-color: lightgrey;
    border: transparent;
    font-family: inherit;
}

.message {
    width: 150px;
    height: 55px;
    margin: 15px;
    clear: both;
    border-radius: 8px;
    text-align: justify;
    padding: 10px;
}

.sent {
    float: right;
    background-color: #d5f9bb;
}

.received {
    float: left;
    background-color: white;
}

.paragrafo {

}
