* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: rgb(2,91,82);
    background: linear-gradient(180deg, rgba(2,91,82,1) 0%, rgba(10,171,155,0.8743697308024773) 20%, rgba(193,193,193,0.6754901789817489) 30%);
    font-family: 'Montserrat', sans-serif;
}

.container-app {
    width: 80vw;
    height: 90vh;
    background-color: white;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* HEADER */

header {
    background-color: #eaeaea;
    height: 70px;
    width: 100%;
    display: flex;
}

.header-left {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgrey;
    padding: 5px 0;
}

img {
    width: 65px;
    margin-left: 10px;
}

.header-menu-left i {
    padding-right: 12px;
}

i {
    color: #b1b1b1;
    font-size: 20px;
}

.header-right {
    width: calc(100% - 350px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.info-ultimo-accesso {
    width: 535px;
}

.notifiche,
.contact-name,
.contact-name-active {
    font-size: 13px;
    font-weight: 500;
}

h3 {
    font-size: 12px;
    font-weight: 500;
    color: grey;
    display: inline-block;

}

.info-ultimo-accesso span {
    font-size: 12px;
    font-weight: 500;
    color: grey;
}

.header-menu-right {
    padding-right: 15px;
}

.header-menu-right i {
    padding-right: 12px;
}


/* ASIDE */

aside {
    height: calc(100% - 70px);
    width: 350px;
    background-color: lightgrey;
}

.bar-notifiche {
    height: 65px;
    background-color: #8edafc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 15px 15px;}

.bell {
    padding-right: 10px;
}

.circle {
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #f2fbff;
	vertical-align: middle;
	text-align: center;
	padding-top: 13px;
}

.search-bar {
    height: 40px;
    background-color: #f7f7f7;
    padding: 5px;
}

.container {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar i {
    font-size: 15px;
    padding: 0 23px;
}

.search-bar input {
    width: 345px;
    font-size: 12px;
    font-family: inherit;
    border: transparent;
	padding: 8px 0px 8px 3px;
}

.contatti {
    height: calc(100% - 105px);
    overflow-y: scroll;
    background-color: white;
}

.contatto {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contatto:hover,
.contatto.active {
    background-color: #eaeaea;
}

.contatto p {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.orario-chat {
    font-size: 11px;
    color: grey;
    padding-bottom: 14px;
    padding-left: 27px;
    margin-right: 10px;
}

/* MAIN */

main {
    width: calc(100% - 350px);
    height: calc(100% - 70px);
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    /* position: relative; */
}

.messaggio-container {
    width: 100%;
    height: 60px;
    /* position: absolute;
    top: 81.5%; */
}

.chat {
    height: calc(100% - 60px);
    overflow-y: scroll;
}

/* .chat  */
.messaggio {
    height: inherit;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

/* .chat */
.messaggio input {
    width: 620px;
    font-family: inherit;
    font-size: 12px;
    text-decoration-color: lightgrey;
    background-color: white;
    border-radius: 2px;
    border: transparent;
    padding: 12px;
}

.hide {
    display: none;
}

.message {
    width: 150px;
    /* height: 55px; */
    font-size: 12px;
    margin: 15px;
    clear: both;
    border-radius: 8px;
    text-align: justify;
    padding: 10px;
    word-wrap: break-word;
}

.sent {
    float: right;
    background-color: #d5f9bb;
}

.received {
    float: left;
    background-color: white;
}

#orario {
    float: right;
    font-size: 12px;
}
